@import '~@/static/scss/component-includes';

.RewardsTabs {
  &__nav {
    .nav-link {
      padding: 2rem;
      border: 0;

      &.active {
        background-color: inherit;
        color: $dark-green;
        font-weight: bolder;
      }
    }
  }
}
