@import '~@/static/scss/variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Move into section component?
.Section {
  padding: 36px;
  margin-bottom: 10px;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 40px;
  }
}
