.list-item {

    &.reward-item .item-title {
        margin-top: 4px;
        padding-left: 5px;
        font-family: 'Lab Grotesque';
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        max-height: 38px;
        overflow: hidden;
        padding:0 .5rem 0 0;
    }

    
    &.reward-item .item-action .btn-redeem {
        width: 100%;
        padding: 0;
        color: #3ba944;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: bold;
        font-size:1.3rem;
        padding:0 10px;
        font-style: italic;

        &[disabled] {
            cursor: default;
            color:grey;
        }
    }

    &.reward-item .item-image  {
        margin: 0 1rem 0 0;
        flex-shrink: 0;
        width:70px;

        & > img {
            align-self: center;
        }
    }

    & .table-helper {
        display: flex;
        align-items: center;   
        flex-direction: row;  
        justify-content: space-between; 
        min-height:80px;
    }


}