.list-item {

    &.coupon-item .item-card {
        display: flex;
        align-items: center;   
        flex-direction: row;  
        padding:4rem 0;

        & > .item-image {
            margin:0 1rem 0 0;
        }
    }

    &.coupon-item .item-card .item-content {
        display: flex;
        flex-direction: column;  
        align-self: baseline;
        position: relative;

        & > .item-value {
            margin-top: 7px;
            max-height: 24px;
            font-family: 'Lab Grotesque';
            font-weight: 700;
            font-size: 18px;
            line-height: 1.2em;
            text-transform: uppercase;
            color: #311847;
            overflow: hidden;
            margin:5px 0 5px;
        }

        & > .item-description {
            color: #565656;
            line-height: 18px;
            font-size:14px;
            min-height:120px;
        }

        & > .item-expiry {
            position: absolute;
            bottom: 0px;
            font-size:14px;
        }
    }

    &.coupon-item .item-card .item-image  {
        margin: 0 1rem 0 0;
        flex-shrink: 0;

        & > img {
            align-self: center;
        }
    }


}