@import '~@/static/scss/component-includes';

.Button {
  display: inline-block;
  appearance: none;
  border-radius: 0.2rem;
  border: 0;
  background-color: $black;
  padding: 0.3rem 1.6rem;
  line-height: 0.9rem;
  font-size: 0.78rem;
  font-weight: 500;
  color: $white;
  text-transform: uppercase;
  text-align: center;

  @include media-breakpoint-up(lg) {
    border-radius: 0.8rem;
    padding: 2rem 3.6rem;
    line-height: 2.4rem;
    font-size: 2rem;
  }

  p + & {
    @include media-breakpoint-up(lg) {
      margin-top: 1.6rem;
    }
  }
}
