.Card {
  &__body {
    display: flex;
    flex-direction: column;
  }

  &__image {
    margin-bottom: 1rem;

    &.-contain,
    &.-cover {
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.-contain {
      img {
        object-fit: contain;
      }
    }

    &.-cover {
      img {
        object-fit: cover;
      }
    }

    &.-square {
      position: relative;
      height: 0;
      padding-top: 100%;
    }
  }

  &__linkedFooter {
    &:hover,
    &:focus {
      color: $text-muted;
      text-decoration: none;
      transition: color 200ms ease;
    }
  }
}

// Override Bootstrap defaults.
.card {
  &-body {
    @include media-breakpoint-up(lg) {
      padding: 2.4rem 3.5rem;
    }
  }

  &-footer {
    @include media-breakpoint-up(lg) {
      padding: 1.6rem 3.5rem;
    }
  }

  &-footer {
    border-top: solid 1px $text-muted;
    background: none;
  }
}
