.container {
  @include media-breakpoint-only(md) {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

.row {
  @include media-breakpoint-only(md) {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }

  @include media-breakpoint-up(lg) {
    margin-left: -1.8rem;
    margin-right: -1.8rem;
  }
}

.col {
  @include media-breakpoint-only(md) {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}
