.container {
  @include media-breakpoint-up(lg) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

.row {
  width: 100%;

  @include media-breakpoint-up(lg) {
    margin-left: -1.8rem;
    margin-right: -1.8rem;
  }
}

.col {
  @include media-breakpoint-up(lg) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}
