.Modal {
  &__heading {
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px #C0C0C0;

    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }

  &__subheading {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 900;
    color: $blue;

    @include media-breakpoint-up(lg) {
      margin-bottom: 28px;
      font-size: 22px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    border: solid 1px #818181;
    border-radius: 8px;
    padding: 4px 16px;
    font-size: 14px;
    font-weight: 500;
    
    @include media-breakpoint-up(lg) {
        border-radius: 32px;
        padding: 14px 28px;
        font-size: 16px;
    }

    &::placeholder {
        color: #C0C0C0;
        text-transform: uppercase;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 6px #2894D4;
    }
  }
}

// Override Bootstrap
.modal {
  font-size: 18px;

  .modal-header {
    display: block;
    text-align: center;
    padding: 44px 40px 0;
    border-bottom: 0;

    @include media-breakpoint-up(lg) {
      padding: 60px 60px 0;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
  }
  .modal-body {
    padding: 0 40px 44px;

    @include media-breakpoint-up(lg) {
      padding: 0 60px 30px;
    }
  }
}