@import '~@/static/scss/component-includes';

.ColumnGroup {
  $block: &;

  display: grid;

  &.-columns-3 {
    grid-template-columns: repeat(3, 1fr);
    @include media-breakpoint-down(sm) {
      margin-top: 1.5rem;
      padding: 0 2.4rem;
      grid-gap: 0.6rem;

      #{$block}__media {
        img {
          border: solid 2px $white;
        }
      }
    }
  }

  &.-columns-2 {
    grid-template-columns: repeat(2, 1fr);
    @include media-breakpoint-down(sm) {
      grid-gap: 0.95rem;
    }
    grid-gap: 4.0rem;

    .ColumnGroup__media {
      padding-top: percentage(350/480 * .80);
    }

    .ColumnGroup__media, .ColumnGroup__video {
      img {
        height: 88% !important;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    color: $white;
    background-color: $red;
    text-align: center;
    margin: 0;

    &:first-child {
      background-color: $light-green;
    }

    &:last-child {
      background-color: $orange;
    }
  }

  &__media {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: percentage(350/480);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .Video__playTrigger {
      height: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: stretch;
    padding: 0.5rem 1rem;

    @include media-breakpoint-up(md) {
      padding: 6.25% 12.5%;
    }
  }

  &__content {
    flex: 1 1;

    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 2rem;
    }
  }

  &__title.h3 {
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }

  &__actions {
    flex: 0 0 auto;
  }

  &__excerpt {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__button {
    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }
}
