@import '~@/static/scss/component-includes';

.WinnersSlider {
  $block: &;

  background-color: $white;

  &__item {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
  }


  &__header {
    margin: 0px auto 80px 0px;
    padding-top: 20px;
    
    .WinnersSlider__title {
      display: inline;
      color: $light-green;
      font-size: 4.5rem;
      font-weight: 900;
      padding-bottom: 5px;
      border-bottom: 2px solid $black;
      margin: 0px auto 0px 0px;

      @include media-breakpoint-up(md) {
      }

      @include media-breakpoint-up(lg) {
      }
    }
  }


  &__image {
    ZZZmax-height: 200px;
    width: auto;
    margin: 30px auto 110px auto;
  }


  &__winnersList {
    columns: 1;
    column-gap: 2em;
    column-fill: balance;

    text-align: center;

    margin-bottom: 80px;

    &.columns-2 {
      columns: 2 600px;
    }

    &.columns-3 {
      columns: 3 400px;
    }
  }


  .slick-track {
    display: flex;
    align-items: stretch;
  }


  .slick-dots {
    bottom: 0px;
    text-align: center;
    margin: 30px auto;

    li {
      button {
        border: solid 1px $blue;
      }
    }
  }

}
