@import '~@/static/scss/component-includes';

.Subscribe {
  $block: &;

  @include make-row();

  @include media-breakpoint-up(lg) {
    margin-left: -1.8rem;
    margin-right: -1.8rem;
  }

  &__label {
    display: block;
    margin-bottom: 0.2rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 1.2rem;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 2.1rem;
    }

    &.-checkbox {
      position: relative;
      padding-left: 1.9rem;

      @include media-breakpoint-up(md) {
        font-size: 0.9em;
      }

      @include media-breakpoint-up(lg) {
        padding-right: 20%;
        padding-left: 2.1rem;
      }

      #{$block}__checkbox {
        position: absolute;
        top: 0;
        left: 0;

        @include media-breakpoint-up(lg) {
          top: 0.2rem;
        }
      }
    }
  }

  &__field {
    @include make-col-ready();
    margin-bottom: 0.9rem;

    @include media-breakpoint-up(lg) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
  }

  &__input {
    width: 100%;
    appearance: none;
    border: 0;
    border-radius: 0.8rem;
    padding: 0.7rem 0.5rem 0.4rem;
    background-color: $white;
    line-height: 0.9rem;
    font-size: 0.78rem;

    @include media-breakpoint-up(md) {
      border-radius: 1.6rem;
      padding: 1rem 4.5rem 0.8rem 1.2rem;
      font-size: 1.4rem;
    }

    @include media-breakpoint-up(lg) {
      border-radius: 2.3rem;
      padding: 1.4rem 8.9rem 1.6rem 2.3rem;
      line-height: 2.4rem;
      font-size: 2rem;
      font-weight: 500;
    }

    &::placeholder {
      color: $gray;
    }
  }

  &__checkbox {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.6rem;

    @include media-breakpoint-up(lg) {
      margin-right: 0.9rem;
    }
  }

  &__footer {
    @include make-col-ready();

    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
  }

  &__submit {
    display: block;

    @include media-breakpoint-up(lg) {
      line-height: 1.5rem;
      font-weight: 900;
      font-size: 1.3rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }

    + .Social {
      @include media-breakpoint-down(md) {
        margin-left: 1.8rem;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 3.4rem;
      }
    }
  }
}
