@import '~@/static/scss/component-includes';

.ProductSlider {
  $block: &;
  padding-left: 1.9rem;
  padding-right: 1.9rem;

  @include media-breakpoint-down(md) {
    padding-bottom: 2.4rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 4.6rem;
    padding-right: 4.6rem;
  }

  &__item {
    display: flex;
    align-items: stretch;
    width: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;

    @include media-breakpoint-up(lg) {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }

    .card {
      flex: 1 1 0;
    }
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }

  .slick-slide.slick-slide {
    display: flex;
    flex: 1;
    height: auto;

    > div {
      display: flex;
      flex: 1;
    }
  }

  .slick-dots {
    bottom: 0;
    text-align: center;

    li {
      button {
        border: solid 1px $blue;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    z-index: 5;
    padding: 0;
    width: 2rem;
    height: 2rem;
    font-size: 0;
    appearance: none;
    background: none;
    border: 0;

    &.slick-prev,
    &.slick-next {
      background-image: svg-load('arrow-right.svg', fill = #000);
    }

    &.slick-prev {
      left: 0;
      transform: rotate(180deg);
    }

    &.slick-next {
      right: 0;
    }
  }
}
