/**
 * Navbar
 */

@import '~@/static/scss/variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.SiteHeader {
  $block: &;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  padding: 10px 16px;
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 100;

  @include media-breakpoint-up(lg) {
    padding: 0 42px 0 63px;

    &:hover {
      &:after {
        height: 12px;
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $light-green;
    transition: height 300ms ease-in-out;
  }

  &__logo {
    display: inline-block;
    max-width: 130px;
    flex: 0 0 auto;

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include media-breakpoint-up(lg) {
      max-width: 200px;
      margin-right: 38px;
      padding-top: 26px;
      padding-bottom: 34px;
    }

    svg {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    margin: 0;
    padding: 0;

    &.-desktop {
      flex: 1 1 0;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &.-mobile {
      flex: 0 0 auto;

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  &__item {
    margin-left: 16px;
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: $gray;
    z-index: 1;

    @include media-breakpoint-up(lg) {
      margin-right: 16px;
      margin-left: 16px;
    }

    &:not(.-nested) {
      display: flex;
      align-items: center;
    }

    &.-nested {
      @include make-col-ready();
      font-size: 18px;
      text-transform: none;
      margin-right: 0;
      margin-bottom: 24px;
      margin-left: 0;
      padding-bottom: 0;

      &.col,
      &:last-child {
        margin-bottom: 0;
      }
    }

    &.-search {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &.-hovered {
      #{$block}__indicator {
        transform: rotate(180deg);
      }
    }
  }

  &__indicator {
    margin-top: -2px;
    margin-left: 8px;
    height: 10px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    background: none;
    color: inherit;
    font-size: 0;

    svg {
      display: inline-block;
      height: 100%;
      vertical-align: initial;
    }
  }

  &__toggle {
    background: none;
    border: 0;
    text-transform: inherit;
    font: inherit;
    color: inherit;
    padding: 0;

    &:hover,
    &:focus {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }

  &__subnav {
    background-color: $white;
    position: absolute;
    top: 100%;

    &:not(.-has-grandchildren) {
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $white;
        width: 100vw;
      }

      &:before {
        right: 100%;
      }

      &:after {
        left: 100%;
      }
    }

    &.-has-grandchildren {
      left: 0;
      right: 0;
      overflow: hidden;

      #{$block}__submenu:not(.-nested) {
        @include make-row();
        padding: 32px 144px;
      }
    }
  }

  &__subnavHeading {
    font-weight: 900;
    line-height: 31px;
    font-size: 25px;
  }

  &__submenu {
    @include make-row();
    position: relative;
    display: block;
    padding: 32px 0;
    justify-content: center;

    &:before {
      right: 100%;
      width: 100vw;
    }

    &:after {
      left: 100%;
      width: 100vw;
    }

    .Button {
      background-color: $white;
      color: $black;
      border: solid 1px $black;
    }
  }
}

.search-toggle {
  border: 0;
  padding: 0;
  background: none;
  color: $gray;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

.Toolbar {
  display: flex;
  flex: 0 0 auto;
  margin: 0;
  overflow-y: auto;

  &__item {
    display: block;
  }

  &__icon {
    display: inline-block;
    height: 20px;

    @include media-breakpoint-up(lg) {
      height: 34px;
    }

    svg {
      height: 100%;
    }
  }

  &__label {
    display: inline-block;
    margin-left: 16px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.OffCanvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $white;
  z-index: 105;
  line-height: 11px;
  font-size: 9px;

  &__toggle {
    border: 0;
    background: none;
    padding: 0;

    &.-menu {
      display: inline-flex;
      width: 28px;
      height: 20px;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;

      @include media-breakpoint-up(lg) {
        display: none;
      }

      > div {
        border-radius: 4px;
        max-height: 4px;
        flex: auto;
        background-color: $gray;
      }
    }

    &.-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 16px;
      display: block;
      width: 45px;
      height: 33px;
      z-index: 5;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 2px;
        border-radius: 1px;
        background-color: $gray;
        transform-origin: 50% 50%;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }
  }

  &__rewards {
    padding: 10px 46px 10px 16px;
    min-height: 48px;
  }

  &__rewardsHeading {
    line-height: 16px;
    font-size: 14px;
    font-weight: 900;
    color: $dark-green;
    margin-bottom: 2px;
  }

  &__rewardsNav {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__rewardsNavItem {
    display: block;
    margin-right: 0.25em;

    &:not(:first-child) {
      &::before {
        content: '| ';
      }
    }
  }

  &__nav {
    display: block;
    padding: 0;
    margin: 0;
    border-top: solid 1px $light-gray;
  }

  &__item {
    position: relative;
    display: block;
    border-bottom: solid 1px $light-gray;
  }

  &__link {
    display: block;
    padding: 9px 16px;
    font-size: 14px;
    font-weight: 900;
    line-height: 1;
  }

  &__subnavToggle {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    height: 32px;
    border: 0;
    padding: 16px;
    background: none;
    font-size: 0;
    color: $gray;
    align-items: center;

    svg {
      height: 10px;
    }

    &.-toggled {
      transform: rotate(180deg);
    }
  }

  &__collapse {
    padding: 0 16px 8px;
  }

  &__subnav {
    display: block;
    padding: 0;
    margin-left: 1em;
    line-height: 13px;
    font-size: 11px;

    &.-nested {
      margin-left: 0;
      margin-bottom: 16px;
    }
  }

  &__subnavItem {
    display: block;

    a {
      display: block;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  &__subnavHeading {
    display: block;
    font-weight: 900;
    margin-bottom: 4px;
  }

  &__search {
    padding: 24px 16px;
  }
}

.Search {
  &__collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba($dark-gray, 0.25);
    padding: 16px 16px 20px;
    overflow: hidden;
  }

  &__inputGroup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border: solid 1px #c7c7c7;
    border-radius: 16px;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      border-radius: 0;
      border: 0;
      box-shadow: 0 3px 6px 0 rgba($dark-gray, 0.25);
    }
  }

  &__icon {
    position: absolute;
    left: 16px;
    display: flex;
    height: 34px;
    margin: 0;
    color: $blue;
    align-items: center;

    svg {
      height: 20px;
    }
  }

  &__input {
    border: 0;
    height: 34px;
    padding: 11px 26px 9px 48px;
    line-height: 1;
    font-size: 12px;
    color: $black;

    @include media-breakpoint-up(lg) {
      height: auto;
      padding: 16px 42px;
      line-height: 24px;
      font-weight: 500;
      font-size: 20px;
      width: 100%;
    }

    &::placeholder {
      color: $blue;

      @include media-breakpoint-up(lg) {
        color: $dark-gray;
      }
    }
  }
}
