/**
 * Navbar
 */

@import '~@/static/scss/component-includes';

.SiteHeader {
  $block: &;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  padding: 1rem 1.6rem;
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 100;

  @include media-breakpoint-up(lg) {
    padding: 0 4.2rem 0 6.3rem;

    &:hover {
      &:after {
        height: 1.2rem;
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.1rem;
    background-color: $light-green;
    transition: height 300ms ease-in-out;
  }

  &__logo {
    display: inline-block;
    max-width: 13rem;
    flex: 0 0 auto;

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include media-breakpoint-up(lg) {
      max-width: 20rem;
      margin-top: 2.8rem;
      margin-bottom: 3.4rem;
    }

    svg {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    margin: 0;
    padding: 0;

    &.-desktop {
      flex: 1 1 0;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &.-mobile {
      flex: 0 0 auto;

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  &__item {
    margin-left: 1.6rem;
    display: block;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $gray;
    z-index: 1;


    &:not(.-nested) {
      display: flex;
      align-items: center;

      @include media-breakpoint-up(lg) {
        margin-right: 1.6rem;

        &:first-child {
          margin-left: 5.5rem;
        }
      }
    }

    &.-nested {
      @include make-col-ready();
      font-weight: 400;
      font-size: 1.8rem;
      text-transform: none;
      margin-right: 0;
      margin-bottom: 2.6rem;
      margin-left: 0;
      padding-bottom: 0;
      color: $black;

      &.col,
      &:last-child {
        margin-bottom: 0;
      }
    }

    &.-search {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &.-has-children {
      &.-active {
        #{$block}__toggle {
          color: $link-hover-color;
        }

        #{$block}__indicator {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__indicator {
    margin-top: -0.2rem;
    margin-left: 0.8rem;
    height: 1rem;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    background: none;
    color: inherit;
    font-size: 0;

    svg {
      display: inline-block;
      height: 100%;
      vertical-align: initial;
    }
  }

  &__link {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &__toggle {
    background: none;
    border: 0;
    text-transform: inherit;
    font: inherit;
    color: inherit;
    padding: 0;

    &:hover, &:focus {
      color: $link-hover-color;
    }
  }

  &__subnav {
    background-color: $white;
    position: absolute;
    top: 100%;

    &:not(.-has-grandchildren) {
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $white;
        width: 100vw;
      }

      &:before {
        right: 100%;
      }

      &:after {
        left: 100%;
      }
    }

    &.-has-grandchildren {
      left: 0;
      right: 0;
      overflow: hidden;

      #{$block}__submenu:not(.-nested) {
        @include make-row();
        padding: 4rem 14.4rem;
      }
    }
  }

  &__subnavHeading {
    font-weight: 900;
    line-height: 3rem;
    font-size: 2.3rem;
  }

  &__submenu {
    @include make-row();
    position: relative;
    display: block;
    padding: 3.2rem 0;
    justify-content: center;

    &:before {
      right: 100%;
      width: 100vw;
    }

    &:after {
      left: 100%;
      width: 100vw;
    }

    &.-nested {
      #{$block}__item {
        margin-bottom: 1.8rem;
      }
    }
  }
}

.Toolbar {
  display: flex;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  overflow-y: auto;

  &__item {
    display: block;
  }

  &__icon {
    display: inline-block;
    height: 2rem;

    @include media-breakpoint-up(lg) {
      height: 3.4rem;
    }

    svg {
      height: 100%;
    }
  }

  &__label {
    display: inline-block;
    margin-left: 1.2rem;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.OffCanvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $white;
  z-index: 105;
  line-height: 1.2rem;
  font-size: 1rem;

  &__toggle {
    border: 0;
    background: none;
    padding: 0;

    &.-menu {
      display: inline-flex;
      width: 2.8rem;
      height: 2rem;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;

      @include media-breakpoint-up(lg) {
        display: none;
      }

      > div {
        border-radius: 0.4rem;
        max-height: 0.4rem;
        flex: auto;
        background-color: $gray;
      }
    }

    &.-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem 1.6rem;
      display: block;
      width: 4.5rem;
      height: 3.3rem;
      z-index: 5;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1.6rem;
        height: 0.2rem;
        border-radius: 0.1rem;
        background-color: $gray;
        transform-origin: 50% 50%;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }
  }

  &__rewards {
    padding: 1rem 4.6rem 1rem 1.6rem;
    min-height: 4.8rem;
  }

  &__rewardsHeading {
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 900;
    color: $dark-green;
    margin-bottom: 0.2rem;
  }

  &__rewardsNav {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__rewardsNavItem {
    display: block;
    margin-right: 0.25em;

    &:not(:first-child) {
      &::before {
        content: '| ';
      }
    }
  }

  &__nav {
    display: block;
    padding: 0;
    margin: 0;
    border-top: solid 1px $light-gray;
  }

  &__item {
    position: relative;
    display: block;
    border-bottom: solid 1px $light-gray;
  }

  &__link {
    display: block;
    padding: 0.9rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1;
  }

  &__subnavToggle {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    height: 3.2rem;
    border: 0;
    padding: 1.6rem;
    background: none;
    font-size: 0;
    color: $gray;
    align-items: center;

    svg {
      height: 1rem;
    }

    &.-toggled {
      transform: rotate(180deg);
    }
  }

  &__collapse {
    padding: 0 1.6rem 0.8rem;
  }

  &__subnav {
    display: block;
    padding: 0;
    margin-left: 1em;
    line-height: 1.3rem;
    font-size: 1.1rem;

    &.-nested {
      margin-left: 0;
      margin-bottom: 1.6rem;
    }
  }

  &__subnavItem {
    display: block;

    a {
      display: block;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
  }

  &__subnavHeading {
    display: block;
    font-weight: 900;
    margin-bottom: 0.4rem;
  }

  &__search {
    padding: 2.4rem 1.6rem;
  }
}

.Search {
  &__collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 0 0.4rem 0.8rem 0 rgba($dark-gray, 0.25);
    padding: 1.6rem 1.6rem 2rem;
    overflow: hidden;
  }

  &__inputGroup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border: solid 1px #c7c7c7;
    border-radius: 1.6rem;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      border-radius: 0;
      border: 0;
      box-shadow: 0 0.3rem 0.6rem 0 rgba($dark-gray, 0.25);
    }
  }

  &__icon {
    position: absolute;
    left: 1.6rem;
    display: flex;
    height: 3.4rem;
    margin: 0;
    color: $blue;
    align-items: center;

    svg {
      height: 2rem;
    }
  }

  &__input {
    border: 0;
    height: 3.4rem;
    padding: 1.1rem 2.6rem 0.9rem 4.8rem;
    line-height: 1;
    font-size: 1.2rem;
    color: $black;

    @include media-breakpoint-up(lg) {
      height: auto;
      padding: 1.6rem 4.2rem;
      line-height: 2.4rem;
      font-weight: 500;
      font-size: 2rem;
      width: 100%;
    }

    &::placeholder {
      color: $blue;

      @include media-breakpoint-up(lg) {
        color: $dark-gray;
      }
    }
  }
}
