@import '~@/static/scss/component-includes';

.Card.-mediaObject {
  $block: '.Card';

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }

  #{$block}__body {
    @include media-breakpoint-down(sm) {
      padding: 2.2rem 2.4rem;
    }
  }

  #{$block}__image {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }

  #{$block}__title {
    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }

  #{$block}__footer {
    @include media-breakpoint-down(sm) {
      padding: 0.6rem 2.4rem 0.8rem;
    }
  }

  &.-stacked {
    #{$block}__image {
      @include media-breakpoint-up(lg) {
        margin-bottom: 4.2rem;
      }
    }
  }

  &.-pizza {
    #{$block}__image {
      position: relative;
      background-image: url('/static/images/pizza-bg.jpg');
      background-repeat: no-repeat;
      padding-top: 115/146 * 100%;
      width: 100%;

      @include media-breakpoint-up(md) {
        padding-top: calc(100% - 2rem);
        margin-top: 5%;
        width: calc(100% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
      }

      img {
        position: absolute;
        top: -5%;
        left: -5%;
        width: auto;
        height: 112.5%;
        object-fit: contain;

        @include media-breakpoint-up(md) {
          left: auto;
          right: -5%;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
