@import '~@/static/scss/component-includes';

.RewardMenu {
  &__accordion {
    .Accordion {
      &__item {
        &.-opened {
          .Accordion {
            &__header {
              font-size: 1.8rem;

              @include media-breakpoint-up(lg) {
                font-size: 2.4rem;
              }

              &.-tier-1000 {
                background-color: $orange;
              }
              &.-tier-1500 {
                background-color: $dark-green;
              }
              &.-tier-2000 {
                background-color: $red;
              }
              &.-tier-2750 {
                background-color: #007cba;
              }
              &.-tier-4000 {
                background-color: #8C2C7E;
              }
              &.-tier-6000 {
                background-color: #50488A;
              }
            }
          }
        }

        + .Accordion__item {
          border-top: solid 1px $white;
        }
      }

      &__toggle {
        align-self: center;
      }

      &__header,
      &__collapse {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      &__header {
        background-color: $gray;
        color: $white;
        transition: font-size 200ms ease;
      }

      &__collapse {
        padding: 2rem;
      }
    }
  }
}
