@import '~@/static/scss/variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.FAQ {
  &__section {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

    @include media-breakpoint-up(lg) {
      padding-top: 4.8rem;
      padding-bottom: 4.8rem;
    }

    .container {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }
}
