@import '~@/static/scss/component-includes';

.MyStatus {
  position: relative;
  font-size: 1.4rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.6rem;
  }

  &::before {
    content: '';
    display: none;
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 50%;
    width: 0.1rem;
    background-color: $text-muted;

    @include media-breakpoint-only(md) {
      display: block;
    }
  }

  .UserAdmin__panel & {
    padding: 1.1rem;

    @include media-breakpoint-up(lg) {
      padding: 2.6rem;
    }
  }

  .col {
    + .col {
      border-top: solid 1px $text-muted;
      padding-top: 2rem;
      margin-top: 2rem;

      @include media-breakpoint-only(md) {
        border-top: 0;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}


.PunchCard {
  &__heading {
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    padding: 0 3.8rem;
  }

  &__slider {
    padding: 0 3rem;

    .slick-arrow {
      background-image: svg-load('arrow-right.svg', fill= '#{$text-muted}');

      &.slick-prev {
        left: 0;
      }

      &.slick-next {
        right: 0;
      }
    }

    .slick-slide {
      opacity: 0.5;

      &.slick-active.slick-center {
        opacity: 1;
      }
    }
  }
}
