@import '~@/static/scss/component-includes';

.RewardsGraph {
  #progress-mask,
  &__paths {
    circle {
      transform-origin: 50% 50%;
      transform: rotate(-90deg);
    }
  }

  &__marker {
    stroke: $dark-gray;
    stroke-width: 0.1rem;
  }

  &__pointsValue {
    font-size: 150%;
    font-weight: bolder;
  }

  &__pointsMeasure {
    font-size: 80%;
    text-transform: uppercase;
  }
}
