@import '~@/static/scss/component-includes';

.Hero {
  position: relative;

  &__image {
    display: block;
    width: 100%;
    height: auto;

    @include media-breakpoint-down(md) {
      min-height: 160vw/375 * 100;
      object-fit: cover;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

    @include media-breakpoint-up(lg) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    &.-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .row {
      flex: 1 1;
    }
  }

  &__title {
    font-size: 2.4rem;
    font-style: normal;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      font-size: 7rem;
    }
  }

  &__caption {
    font-size: 10px;
    font-weight: 500;
    color: #000;
    margin-top: 1.2rem;

    @include media-breakpoint-up(lg) {
      margin-top: 1.6rem;
      font-size: 1.4rem;
    }
  }
}
