.hero-body {
  min-height: calc(100vh - 8.3rem);
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  .hero-paragraph {
    margin: 1rem 0 4rem;
  }

  .button {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &.height-auto {
    min-height: auto;
  }
  &-expanded {
    min-height: 100vh;
  }
  .hero-content {
    z-index: 5;
  }
  .container-center {
    max-width: 100%;
    padding-right: 0;

    @include media-breakpoint-up(md) {
      margin: 0 10vw;
    }
  }
  &.solutions-hero {
    padding: 7.4rem 3.6rem;
    min-height: calc(100vh - 8.3rem - 9rem);

    @include media-breakpoint-down(sm) {
      align-items: flex-end;
    }
    
    @include media-breakpoint-up(md) {
      min-height: 630/1440 * 100vw;
      height: auto;
    }
  }
}

.hero-title {
  width: 62.5%;

  @include media-breakpoint-up(md) {
    width: 87.5%;
  }
}
