.investors-list {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  li {
    display: block;
    padding: 0;
    margin: 3.5rem;

    @include media-breakpoint-up(md) {
      display: inline-block;
      margin: 5rem 4.5rem;
    }
    
    img {
      width: auto;
      height: auto;
      max-width: 20rem;
      max-height: 11rem;
    }
  }
}
