@import '~@/static/scss/component-includes';

.NewsroomArticle {

  width: 100%;
  

  $block: '.Article';

  a:hover {
    color: inherit;
    text-decoration: inherit;
  }

  #{$block}__publishDate {
    color: $light-green;
    font-size: 1.1em;
    font-weight: 500;
  }


  #{$block}__title {
    margin-bottom: 5px;
    line-height: 1em;
  }

  #{$block}__summary {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #{$block}__content {
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;

    &.addWhitespace {
      white-space: pre-line;
    }
  }

  a.Button {
    color: $white;
    cursor: pointer;
  }

}

@media (max-width: 576px) {
  .NewsroomArticle {
    padding: 10px;

    .Article__summary {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .Article__content {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}