@import '~@/static/scss/component-includes';

.NeedHelp {
  background: linear-gradient(243deg,#8acc5f,#4cb1cb);

  &__title {
    font-family: 'Trasandina', sans-serif;
    font-weight: 950;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;

    @include media-breakpoint-up(md) {
      font-size: 4.3rem;
      text-align: left;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      color: inherit;
    }
  }
}
