@import '~@/static/scss/component-includes';

.Delivery {
  $block: &;

  &__form {
    margin-top: 1.9rem;

    @include media-breakpoint-up(lg) {
      margin-top: 4.4rem;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__field {
    display: flex;
    align-items: stretch;
    margin-top: 1.9rem;

    @include media-breakpoint-up(lg) {
      margin-top: 4.4rem;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__fieldPrepend {
    flex: 0 0 auto;
    border: solid 1px $gray;
    border-right: 0;
    padding: 0.4rem;
    margin: 0;

    @include media-breakpoint-up(lg) {
      padding: 1.6rem;
    }
  }

  &__fieldIcon {
    width: 0.8rem;
    height: 0.8rem;
    color: $blue;

    @include media-breakpoint-up(lg) {
      width: 4.2rem;
      height: 4.2rem;
    }
  }

  &__input {
    flex: 1 1;
    border-radius: 0;
    border: solid 1px $gray;
    padding: 0.4rem 0.8rem;

    &::placeholder {
      color: #c0c0c0;
    }

    @include media-breakpoint-up(lg) {
      font-weight: 900;
      font-size: 2.8rem;
      padding: 2rem 3.2rem;
    }
  }

  &__action {
    flex: 1 1;
  }

  &__actionDivider {
    flex: 0 0 auto;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      flex: 1 1;
    }
  }

  &__section {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-top: 1rem;

    @include media-breakpoint-only(md) {
      margin-top: 2rem;
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 4rem;
    }

    &.container-fluid {
      padding-left: 1.6rem;
      padding-right: 1.6rem;

      @include media-breakpoint-only(md) {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
      }

      .Section__body {
        padding-bottom: 1.4rem;

        @include media-breakpoint-up(md) {
          padding-top: 2.4rem;
          padding-bottom: 2.4rem;
        }
      }
    }
  }

  &__option {
    position: relative;
    display: block;
    color: $white;
    border-radius: 0.4rem;
    overflow: hidden;

    &:hover,
    &:focus {
      color: $white;

      #{$block}__optionLabel {
        text-decoration: underline;
      }
    }

    @include media-breakpoint-up(lg) {
      border-radius: 1.2rem;
    }
  }

  &__optionOverlay {
    position: absolute;
    bottom: 0.5rem;
    left: 0.8rem;

    @include media-breakpoint-up(lg) {
      bottom: 2rem;
      left: 2.4rem;
      right: 2.4rem;
    }
  }

  &__optionLogo {
    width: percentage(1/3);
    margin-bottom: 0.3rem;

    @include media-breakpoint-up(lg) {
      width: 50%;
      margin-bottom: 1.4rem;
    }
  }

  &__optionLabel {
    display: block;
  }
}
