@import '~@/static/scss/variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.SiteFooter {
  $block: &;

  line-height: 9px;
  font-size: 7.8px;

  @include media-breakpoint-up(lg) {
    font-weight: 500;
    line-height: 18px;
    font-size: 15px;
  }

  &__section {
    &.-primary {
      background-color: $dark-gray;
      color: $white;
      padding: 16px 31px 70px;

      @include media-breakpoint-up(lg) {
        padding: 104px 74px 94px 60px;
      }
    }

    &.-secondary {
      background-color: $black;
      padding: 8px 16px;
      color: $white;

      @include media-breakpoint-up(lg) {
        padding: 20px 74px 16px 60px;
      }

      #{$block}__wrapper {
        justify-content: space-between;
      }
    }
  }

  &__heading {
    line-height: 12px;
    font-size: 10px;
    font-weight: 900;

    @include media-breakpoint-up(lg) {
      line-height: 31px;
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  &__links {
    display: block;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: block;
    margin-bottom: 5px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 16px;
    }
  }

  .Subscribe__field {
    @include media-breakpoint-down(md) {
      @include make-col(6);
    }
  }

  .Button {
    background-color: $white;
    color: $black;

    @include media-breakpoint-up(lg) {
      line-height: 15px;
      font-weight: 900;
      font-size: 13px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .Subscribe {
    margin-bottom: 22px;
  }
}
