@import '~@/static/scss/component-includes';

.SiteFooter {
  $block: &;

  line-height: 0.9rem;
  font-size: 0.78rem;

  @include media-breakpoint-up(lg) {
    font-weight: 500;
    line-height: 1.8rem;
    font-size: 1.3rem;
  }

  &__section {
    &.-primary {
      background-color: $dark-gray;
      color: $white;
      padding: 1.6rem 3.1rem 7rem;

      @include media-breakpoint-up(lg) {
        padding: 10.4rem 7.4rem 9.4rem 6rem;
      }
    }

    &.-secondary {
      background-color: $black;
      padding: 0.8rem 1.6rem;
      color: $white;

      @include media-breakpoint-up(lg) {
        padding: 1.8rem 7.4rem 1.8rem 6rem;
      }

      #{$block}__wrapper {
        justify-content: space-between;
      }
    }
  }

  &__heading {
    line-height: 1.2rem;
    font-size: 1rem;
    font-weight: 900;

    @include media-breakpoint-up(lg) {
      line-height: 3rem;
      font-size: 2.3rem;
      margin-bottom: 1.8rem;
    }
  }

  &__links {
    display: block;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: block;
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0.9rem;
    }
  }

  .Subscribe__field {
    @include media-breakpoint-down(md) {
      @include make-col(6);
    }
  }

  .Button {
    background-color: $white;
    color: $black;

    &:hover,
    &:focus {
      background-color: $link-hover-color;
      color: $white;
    }
  }

  .Subscribe {
    margin-bottom: 2.2rem;
  }
}
