@font-face {
  font-family: 'Circular';
  font-weight: 900;
  src:  url('/static/fonts/CircularXXWeb-Black.woff2') format('woff2'),
        url('/static/fonts/CircularXXWeb-Black.woff') format('woff');
}

@font-face {
  font-family: 'Circular';
  font-weight: normal;
  src:  url('/static/fonts/CircularStd-Book.otf')
}

.is-font-heading {
  font-family:  'Circular', sans-serif;
}
