@import '~@/static/scss/component-includes';

.Newsroom__page {

  a.Button {
	color: $white;
	cursor: pointer;
  }

  .Newsroom__Categories {
    margin-bottom: 30px;

    div {
      text-align: center;

      a.Button {
        min-width: 50%;

        &.selected {
          background-color: $orange;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Newsroom__page {

    .Newsroom__Categories {
      margin-bottom: 0px;

      &.ColumnSpread {
        display: inline-block;
        text-align: center;
      }

      div {
        display: inline-block;
        margin: 5px 5px;
        a.Button {
          min-width: inherit;
        }
      }
    }
  }
}