@import '~@/static/scss/component-includes';

.Social {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;

  &__item {
    display: block;
    margin-left: 0.8rem;
    margin-right: 0.8rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    height: 1.1rem;

    svg {
      height: 100%;
    }
  }
}
