// Main Site Layout
//

@import '~@/static/scss/variables';
@import '~@/static/scss/fonts';

@import '~bootstrap/scss/bootstrap';

@import '~@/static/scss/type';

@import '~@/static/scss/custom/modal';
@import '~@/static/scss/custom/accordion';

html,
body,
#__next {
  height: 100%;
  width: 100%;
  overflow: auto;
}

html,
body {
  font-size: 0.75rem;

  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}

body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

.Layout {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  min-height: 100vh;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.SiteMain {
  flex: 1 1 auto;
}
