// Main Site Layout
//

@import "~@/static/scss/variables";
@import "~@/static/scss/fonts";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/reboot";

html,
body,
#__next {
	height: 100%;
	width: 100%;
}

body {
	font-family: $font-family-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

.layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.site-main {
	flex: 1 1 auto;
}