@import '~rfs/scss';

h1, .h1 {
  @include font-size(64px);

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }
}

h2, .h2 {
  @include font-size(36px);

  @include media-breakpoint-down(sm) {
    font-size: 16px; 
  }
}

h3, .h3 {
  @include media-breakpoint-down(sm) {
    font-size: 14px; 
  }
}

h4, .h4 {
  @include media-breakpoint-down(sm) {
    font-size: 14px; 
  }
}

h5, .h5 {
  @include media-breakpoint-down(sm) {
    font-size: 14px; 
  }
}

h6, .h6 {
  @include media-breakpoint-down(sm) {
    font-size: 11px; 
  }
}

h1, h2, h3, h4, h5, h6 {
  small {
    font-size: 11px;
  }
}