/**
 * Variables
 */

/**
 * Bootstrap Settings
 *
 * Refer to https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
 * for full list of variables to override.
 * 
 */

// Colors
$light-green: #a0ca2e;
$dark-green: #1b8065;
$orange: #ef8113;
$red: #8d1f27;
$blue: #2894d4;
$white: #fff;
$light-gray: #f0f1f2;
$gray: #7e7e7e;
$dark-gray: #2f2f2f;
$black: #000;

$colors: (
  "blue": $blue,
  "red": $red,
  "orange": $orange,
  "light-green": $light-green,
  "dark-green": $dark-green,
  "light-gray": $light-gray,
  "gray": $gray,
  "dark-gray": $dark-gray,
  "white": $white,
  "black": $black
);

$primary: $light-green;
$secondary: $orange;
$success: $dark-green;
$info: $blue;
$warning: $orange;
$danger: $red;
$light: $light-gray;
$dark: $dark-gray;

// Body
$body-bg: $light-gray;
$body-color: $black;

// Options
$enable-grid-classes: false;

// Type
$font-family-sans-serif: "Lab Grotesque", sans-serif;
$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base: $font-family-sans-serif;

// Grid
$grid-gutter-width: 10px;

// Links
$link-color: inherit;
$link-hover-color: $light-green;
