/**
 * Variables
 */

/**
 * Bootstrap Settings
 *
 * Refer to https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
 * for full list of variables to override.
 *
 */

// Colors

$white: #fff;
$light-gray: #f0f1f2;
$gray: #7e7e7e;
$dark-gray: #2f2f2f;
$black: #000;

$light-green: #a0ca2e;
$dark-green: #1b8065;
$orange: #ef8113;
$red: #8d1f27;
$blue: #2894d4;

$colors: (
  "blue": $blue,
  "red": $red,
  "orange": $orange,
  "light-green": $light-green,
  "dark-green": $dark-green,
  "light-gray": $light-gray,
  "gray": $gray,
  "dark-gray": $dark-gray,
  "white": $white,
  "black": $black
);

$primary: $light-green;
$secondary: $orange;
$success: $dark-green;
$info: $blue;
$warning: $orange;
$danger: $red;
$light: $light-gray;
$dark: $dark-gray;

$yiq-text-dark:             $black;
$yiq-text-light:            $white;

$body-bg:                   $light-gray;
$body-color:                $black;

// Links

$link-color: inherit;
// $link-decoration:                         none !default;
$link-hover-color: $light-green;
// $link-hover-decoration:                   underline !default;

// Paragraphs
$paragraph-margin-bottom:   1em;

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1316px
);

$grid-gutter-width:           1.0rem;

// Components

$box-shadow: 0px 3px 6px #00000029;

// Typography

$font-family-sans-serif:      "Lab Grotesque", sans-serif;
$font-family-system:          -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base:            $font-family-sans-serif;

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-root:              62.5%;
$font-size-base:              1.0rem; // Assumes the browser default, typically `16px`
$font-size-lg:                2.0rem;
$font-size-sm:                1.2rem;

// $line-height-base:            1.5 !default;
// $line-height-lg:              2 !default;
// $line-height-sm:              1.25 !default;

$h1-font-size:                7.0rem;
$h2-font-size:                4.0rem;
$h3-font-size:                3.0rem;
$h4-font-size:                2.5rem;
$h5-font-size:                2.0rem;
$h6-font-size:                1.5rem;

// $headings-margin-bottom:      $spacer / 2 !default;
// $headings-font-family:        null !default;
// $headings-font-style:         null !default;
$headings-font-weight:        900;
// $headings-line-height:        1.2 !default;
// $headings-color:              null !default;

$display1-size:               $h1-font-size;
$display2-size:               $h2-font-size;
$display3-size:               $h3-font-size;
$display4-size:               $h4-font-size;

$display1-weight:             $headings-font-weight;
$display2-weight:             $headings-font-weight;
$display3-weight:             $headings-font-weight;
$display4-weight:             $headings-font-weight;
// $display-line-height:         $headings-line-height !default;

$lead-font-size:              2.0rem;
$lead-font-weight:            500;

$small-font-size:             1.2rem;

$text-muted:                  #C0C0C0;

// Card

$card-spacer-y: 0.6rem;
$card-spacer-x: 0.9rem;
$card-border-width: 0;
$card-border-radius: 0.7rem;

// Modal

$modal-inner-padding: 4rem;
$modal-content-border-radius: 0;
$modal-backdrop-opacity: 0;
