@import '~@/static/scss/component-includes';

.TasteOfAsia {
  &__languageSwitcher {
    text-align: center;
  }

  &__languageToggle {
    margin-left: 0.4rem;
    margin-right: 0.4rem;

    @include media-breakpoint-up(md) {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
    }

    &.-active {
      background-color: $dark-green;
    }
  }

  &__card {
    color: $black;

    @include media-breakpoint-up(md) {
      .row {
        display: flex;
        flex-direction: column;
        flex: 1 1;
      }

      .col {
        &:first-child {
          flex: 0 0 auto;
        }

        &:last-child {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1 1;
        }
      }

      .Card__title {
        display: flex;
        flex: 1 1;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__modal {
  }

  &__modalImage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 3%;
    background-image: url('/static/images/taste-of-asia-image-bg.jpg');
    background-repeat: no-repeat;
    text-align: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 2.4rem;
    }
  }
}

.Section.-TasteOfAsia {
  $block: '.Section';

  background-image: url('/static/images/taste-of-asia-section-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  color: $white;

  #{$block}__content {
    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
  }
}
