@import '~@/static/scss/component-includes';

.SlurpeeSpacer {
  position: relative;
  width: 100%;

  &.Section {
    display: block;
  }

  &::before {
    content: '';
    display: block;
    padding-top: percentage(312/375);

    @include media-breakpoint-up(md) {
      padding-top: percentage(820/1448);
    }
  }

  &__branding {
    display: block;
    position: absolute;
    top: -10%;
    width: 100%;
    object-fit: contain;
    z-index: -1;
  }

  &__elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__slurpee {
    position: absolute;

    &.-Furthest {
      bottom: 2.5rem;
      right: 50%;
      width: percentage(26/375);
      filter: blur(4px);
      z-index: -1;

      @include media-breakpoint-up(md) {
        width: percentage(72/1448);
        right: calc(50% - #{percentage(72/1448) * 1.25});
      }
    }

    &.-Middleground {
      top: 7.6rem;
      right: 0.5rem;
      width: percentage(129/1448);
      filter: blur(4px);
      z-index: 0;

      @include media-breakpoint-up(md) {
        top: 7.6rem;
      }

      @include media-breakpoint-up(lg) {
        top: 9.6rem;
      }
    }

    &.-Foreground {
      z-index: 5;
      width: percentage(99/375);
      bottom: -2.5rem;
      right: calc(50% - #{percentage(99/375) * 1.25});

      @include media-breakpoint-up(md) {
        width: percentage(250/1448);
        bottom: -4.5rem;
        right: calc(25% - #{percentage(250/1448)/2});
      }

      @include media-breakpoint-up(lg) {
        bottom: -8.5rem;
      }
    }
  }
}
