
.modal__container {
  position: relative;
  max-width: 500px;
  margin:auto;
  text-align: center;
  left: 0px;
  right: 0px;

  .field__error {
    position: relative;
    margin: 20px 0px;
    color: red;
    display: block;
  }

  .lg {
    font-size: 20px;
    margin-top: -20px;
  }


  input {
    border-radius: 12px;
    width: 100%;
    padding: 12px 8px;
    font-size: 18px;
  }


  .column__row {
    position: relative;
    margin: 20px 0px;
  }


  .center--text {
    text-align: center;
  }

  .blue--text {
    color: #4693cf;
  }

  .sm--text {
    font-size: 15px;
  }
  

  .green {
    background-color: #a9c74d;
  }
}