

.field__error {
  position: relative;
  margin: 20px 0px;
  color: red;
  display: block;
}


input {
  border-radius: 12px;
  width: 100%;
  padding: 12px 8px;
  font-size: 18px;
}


.column__row {
  position: relative;
  margin: 20px 0px;
}


.center--text {
  text-align: center;
}