@import '~@/static/scss/component-includes';

.Video {
  $block: &;
  display: block;

  &__playTrigger {
    position: relative;
    appearance: none;
    background: none;
    border: 0;
    padding: 0;
    width: 100%;
    height: 0;
    padding-top: percentage(480/720);

    &:hover,
    &:focus {
      #{$block}__playIcon {
        opacity: 1;
      }
    }
  }

  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: auto;
    z-index: 5;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    transition: opacity 400ms ease-in-out;
  }
}
