@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import '~@/static/scss/component-includes';

.Section.-TextSlider {
  position: relative;
  margin-top: 2.1rem;

  @include media-breakpoint-up(md) {
    margin-top: 4.1rem;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 6.1rem;
  }

  .Section {
    &__title {
      position: absolute;
      top: -2rem;
      z-index: 3;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      text-align: center;
      color: $white;
      width: 60%;
      font-size: 3.6rem;
      transform: rotate(-2.5deg);
      line-height: (10/11);
      text-shadow:
        0px 3px 6px #6E6E6E4D,
        4px -3px 0 #6F9820,
        -1px -1px 0 #9AC131,
        1px -1px 0 #9AC131,
        -1px 1px 0 #9AC131,
        1px 1px 0 #9AC131;

      @supports (-webkit-text-stroke: 4px #9AC131) {
        -webkit-text-stroke: 2px #9AC131;
        -webkit-text-fill-color: currentcolor;
        paint-order: stroke fill;
      }

      @include media-breakpoint-up(md) {
        font-size: 8rem;

        text-shadow:
        0px 3px 6px #6E6E6E4D,
        7px -4px 0 #6F9820,
        -1px -1px 0 #9AC131,
        1px -1px 0 #9AC131,
        -1px 1px 0 #9AC131,
        1px 1px 0 #9AC131;

        @supports (-webkit-text-stroke: 4px #9AC131) {
          -webkit-text-stroke: 4px #9AC131;
        }
      }

      @include media-breakpoint-up(lg) {
        font-size: 11rem;
        width: 50%;
        text-shadow:
        0px 3px 6px #6E6E6E4D,
        11px -6px 0 #6F9820,
        -1px -1px 0 #9AC131,
        1px -1px 0 #9AC131,
        -1px 1px 0 #9AC131,
        1px 1px 0 #9AC131;
      }
    }

    &__cornerImage {
      position: absolute;
      top: -18rem;
      right: 0;
      width: auto;
      height: 41.4rem;
      z-index: 3;
      transform: rotate(2.5deg);

      @include media-breakpoint-down(md) {
        top: -8rem;
        height: 20.7rem;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.TextSlider {
  &.slick-slider {
    .slick-track {
      display: flex;
      align-items: stretch;
    }

    .slick-dots {
      text-align: center;
    }

    .slick-slide {
      display: flex;
      flex: 1;
      height: auto;

      > div {
        display: flex;
        flex: 1;
      }
    }
  }

  &__slide {
    background-repeat: no-repeat;

    .container {
      width: percentage(2/3);
      padding-top: 7.1rem;
      padding-bottom: 5rem;

      @include media-breakpoint-up(md) {
        padding-top: 18rem;
        padding-bottom: 11.5rem;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 27.8rem;
        padding-bottom: 18.3rem;
      }
    }
  }
}
